.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease, visibility 0s linear 0.5s;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: 0;
  margin-top: 24px;
  padding: 0;
}

.modal__label-type-radio {
  /* margin-top: 8px; */
}

.modal__radio-input {
  margin-top: 0;
}

.modal__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  position: relative;
  border-radius: 8px;
}

.modal__form-title {
  font-family: Cabinet Grotesk;
  margin: 28px auto 0 28px;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
}

.modal__button-close {
  background-image: url(../../assets/grp-119.png);
  position: absolute;
  height: 20px;
  width: 20px;
  top: 20px;
  right: 28px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: unset;
  cursor: pointer;
  transition: background-image 1s linear;
}

.modal__button-close_add {
  background-image: url(../../assets/Grp_120.png);
  position: absolute;
  height: 20px;
  width: 20px;
  top: 20px;
  right: 28px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: unset;
  cursor: pointer;
  transition: background-image 1s linear;
}

.modal__form {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 28px;
  display: flex;
  flex-direction: column;
}

.modal__form-label {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 16px;
  margin: 24px 0 0;
  line-height: 110.00000000000001%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__form-label:first-child {
  margin-top: 0;
}
.modal__form-input {
  max-width: 630px;
  box-sizing: border-box;
  padding: 16px 12px;
  margin: 8px 0 0;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  font-size: 16px;
  line-height: 1;
  transition: opacity 1s linear;
}

.modal__form-input:hover {
  border-color: rgba(33, 33, 33, 1);
}

.modal__form-input::placeholder {
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.3);
}

.modal__button-save {
  width: 124px;
  height: 36px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  /* padding: 18px 58px; */
  color: #fcf5e5;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  margin: 32px 0 0;
  cursor: pointer;
  border: none;
  transition: opacity 1s linear;
}

.modal__button-save:hover {
  opacity: 80%;
}

.modal__button-cancel {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  padding: 18px 20px;
  /* transition: none; */
}

.modal__button-cancel:hover {
  background-color: rgba(33, 33, 33, 1);
  color: rgba(255, 255, 255, 1);
  opacity: 100%;
}
