.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid rgba(126, 126, 126, 1);
  border-radius: 20px;
  margin-left: auto;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__f {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  padding: 0;
  border: 0;
  text-align: center;
  line-height: 28px;
  color: grey;
}

.toggle-switch__c {
  position: absolute;
  /* margin: 4px auto; */
  width: 28px;
  height: 28px;
  right: 0;
  padding: 0;
  border: 0;
  text-align: center;
  line-height: 28px;
  color: grey;
  transition: all 0.2s;
}

.toggle-switch__circle {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: black;
  position: absolute;
  left: 0;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__text_color_white {
  color: white;
}
