.cards__item {
  position: relative;
  width: 323px;
  height: 326px;
}

.cards__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  cursor: pointer;
}

.cards__image-description {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  top: 15px;
  left: 125px;
  overflow: hidden;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 4px;
  padding: 2px 12px;
}
