/* .cards__image {
  width: 100%;
  height: 326px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  cursor: pointer;
}

.cards__image-description {
  position: absolute;
  margin: 0;
  color: black;
  top: 15px;
  left: 125px;
  overflow: hidden;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  flex-basis: 353px;
} */
