.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
}

.weather-card__temp {
  font-size: 36px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
}

.weather-card__image {
  object-fit: cover;
  object-position: top right;
  width: 100%;
}
