.page {
  background-color: #f3f3f3;
  font-family: Cabinet Grotesk;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: Cabinet Grotesk;
}

.modal__form-label.modal__label-type-radio {
  margin-top: 8px;
}

.modal__form-label.modal__label-type-radio:first-child {
  margin-top: 12px;
}
