.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 323px);
  gap: 20px 20px;
  justify-content: center;
}

.cards__list {
  /* position: relative; */
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}
.card-text {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}
