.modal__image-container {
  position: relative;
  width: 498px;
  height: 610px;
  background-color: #fff;
  border-radius: 8px;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 12px;
  width: 100%;
}

.modal__caption {
  font-size: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  font-family: Cabinet Grotesk;
  /* padding: 4px 8px; */
  /* border-radius: 12px; */
}

.modal__weather {
  font-size: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  margin-top: 12px;
}

.modal__footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  padding: 20px 32px 32px;
  box-sizing: border-box;
}
