.footer {
  margin-top: 85px;
  padding-bottom: 24px;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: space-between;
}

.footer__name {
  margin: 0;
  padding: 0;
}

.footer__year {
  margin: 0;
  padding: 0;
}
