.clothessection {
  /* width: 1015px; */
  flex-grow: 1;
}

.clothes {
  display: grid;
  grid-template-columns: repeat(auto-fit, 323px);
  gap: 20px 20px;
  justify-content: center;
}

.clothes__list {
  /* position: relative; */
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}
