.clothessection {
  /* width: 1015px; */
  flex-grow: 1;
  padding-left: 116px;
}

.clothes {
  display: grid;
  grid-template-columns: repeat(auto-fit, 323px);
  gap: 20px 20px;
  justify-content: center;
}

.clothes__list {
  /* position: relative; */
  list-style: none;
  padding: 0;
  margin: 0;
  display: contents;
}

.clothessection__content {
  display: flex;
  margin-bottom: 16px;
}

.clothessection__title {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  line-height: 100%;
  margin: 0;
}

.clothessection__button {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  background-color: unset;
  border: none;
  margin-left: 20px;
  padding: 0;
}
